{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
    <div class="text-center">
        <p>Please enter (and confirm) your new password.</p>
    </div>
        <form class="row g-3" action="" method="post">
        {% csrf_token %}
            
            {{ form.new_password1|as_crispy_field }}
        
            {{ form.new_password2|as_crispy_field }}

            <input class="btn btn-primary" type="submit" value="Change my password" />
                
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
