{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>List of blog users</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-10">
            {% if blogusers %}
                <ul class="list-group">
                    {% for bloguser in blogusers %}
                        <a class="list-group-item" href="{% url 'bloguser-detail' bloguser.username %}">{{ bloguser.username }}</a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no blog users yet.</p>
            {% endif %}
        </div>
    </div>


{% endblock content %}