{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <h1>{{ bloguser.username }}</h1>
        {% if bloguser.first_name %}
            <h6>Name: {{ bloguser.first_name }} {{ bloguser.last_name }}</h6>
        {% endif %}
        <h6>Date Born: {{ bloguser.date_born }}</h6>

    </div>

    <div class="row justify-content-center">
        <div class="col col-md-8">
            {{ bloguser.short_bio }}
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col col-md-8">
            <h3>Articles:</h3>
            {% if bloguser.blogpost_set.all %}
            <ul class="list-group">
                {% for blog_post in bloguser.blogpost_set.all %}
                    <a class="list-group-item" href="{% url 'blog-detail' blog_post.pk %}">{{ blog_post.title }} - {{ blog_post.date_posted }}</a>
                {% endfor %}
            </ul>
            {% else %}
                <p>This bloguser has yet to publish any articles.</p>
            {% endif %}   
        </div>
    </div>

{% endblock content %}