{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>List of Authors</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-10">
            {% if authors %}
                <ul class="list-group">
                    {% for author in authors %}
                        <a class="list-group-item" href="{% url 'author-detail' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no published authors yet.</p>
            {% endif %}
        </div>
    </div>


{% endblock content %}