{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block styles %}{{ form.media }}{% endblock styles %}

{% block content %}

    <div class="text-center">
        <h1>{{ blog_post.title }}</h1>
        {% if blog_post.blog_author.all.count > 1 %}
        <p>Authors:
            {% for bloguser in blog_post.blog_author.all %}  
                <span> <a href="{% url 'bloguser-detail' bloguser.username %}">{{ bloguser }}</a> </span>
            {% endfor %}
        </p>
        {% else %}
            <p>Author: <a href="{% url 'bloguser-detail' blog_post.blog_author.get.username %}">{{ blog_post.blog_author.get }}</a></p>
        {% endif %}
        <p>Published: {{ blog_post.date_posted }}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col col-md-9">
            {{ blog_post.content }}
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col col-md-8">
            <ul class="list-group">
                {% for comment in blog_post.comment_set.all %}
                    <a href="{% url 'bloguser-detail' comment.comment_author.username %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h4>{{ comment.comment_author }}</h4>
                        <small class="text-muted">{{ comment.time_since_comment }} ago</small>
                        </div>
                        <p class="mb-1">{{ comment.content|safe }}</p>
                    </a>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="list-group-item list-group-item-action p-2">
                        <form action="{{ request.path }}" method="post">{% csrf_token %}
                        
                            {{ form.content|as_crispy_field }}

                            <input class="btn btn-primary" type="submit" value="Add comment" />
                            <input type="hidden" name="next" value="" />
                        </form>
                    </li> 
                {% else %}
                    <a class="btn btn-primary m-2" href="{% url 'login' %}">Login to add comments</a>
                {% endif %}
                

            </ul>
        </div>
    </div>

{% endblock content %}